/vendor/
/plugin-dir/vendor/
/dev/release/__pycache__/
/dev/release/tests/__pycache__/
/wordpress/
/wp-content/
/index.php
/wp-config.php

/.env
*.sql
*.tgz
*.log
/install/nginx/*
/install/php-fpm/error.log

# Configs
/.idea/
